@import 'normalize';
@import 'variables';

body {
    background: $blue;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-weight: normal;
}

input, select, button {
    border: none;
    border-radius: 3px;
    background: white;
    margin: 0 auto;
}

input[type=text], input[type=number], select {
    height: 40px;
    width: 300px;
    padding: 10px;
    color: $grey;
    margin: 5px auto 10px;
}

input[type=submit] {
    height: 40px;
    width: 180px;
    color: $blue;
    font-weight: bolder;
    transition: 0.1s all ease;
    &:hover {
        background: darken($blue, 10%);
        color: white;
        position: relative;
        top: 1px;
    }
}

button {
    height: 40px;
    padding: 0 30px;
    color: $blue;
    font-weight: bolder;
    margin: 20px auto;
    &:hover {
        background: darken($blue, 10%);
        color: white;
        position: relative;
        top: 1px;
    }
}

.logo {
    height: 100px;
}

.car-steps {
    font-weight: bold;
}

#landing {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.home-divider, .results-divider {
    border: none;
    border-left: 1px solid rgba(255,255,255,0.5);
    height: 60vh;
}

.home-divider {
    margin: 0 80px;
}

.results-divider {
    margin: 0 50px;
}

.home-left {
    text-align: right;
    width: 50%;
}

.home-right {
    width: 30%;
}

.home-tag {
    margin: 20px 0;
    font-size: 1.3rem;
}

.p2 {
    margin: 0 auto;
}

.content {
    width: 700px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
}

.btn-next {
    margin: 30px auto 0;
    display: block;
}

.results {
    align-items: center;
    width: 80%;
    margin: 0 auto;
    h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    p {
        font-size: 1.3rem;
        font-weight: normal;
        line-height: 1.5;
    }
}

.results-right {
    min-width: 500px;
}

.car-or-bus-img {
    max-height: 100px;
}

.car-img, .bus-img {
    max-width: 150px;
}


footer {
    position: absolute;
    bottom: 20px;
    left: 10px;
    text-align: center;
    width: 100%;
    p {
        font-size: 0.5rem;
        opacity: 0.5;
        display: inline-block;
        margin: 0px 5px;
    }
}

@import 'media_queries';
