<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
  	<meta charset="UTF-8">
  	<title>Commuter</title>
    <script type="text/javascript" src="http://www.carqueryapi.com/js/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.carqueryapi.com/js/carquery.0.3.4.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="vendor/autocomplete.js"></script>
    <script src="vendor/distance.js"></script>

    <script src="script.js"></script>

    <script type="text/javascript" src="http://www.carqueryapi.com/js/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.carqueryapi.com/js/carquery.0.3.4.js"></script>
    <link rel="stylesheet" type="text/css" href="vendor/autocomplete.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="shortcut icon" href="images/favicon.png">
  </head>
  <body ng-controller="mainController">

    <div id="landing" ng-if="isOnLanding">
        <div class="home-left">
            <h1>Commuter</h1>
            <p class="home-tag">What’s more cost effective —
                driving your car to work or taking the public transit?
            </p>
            <input type="submit" name="" value="Let's Find Out!" ng-click="showForms()">
        </div>
        <hr class="home-divider">
        <div class="home-right">
            <img src="images/car-icon.png" class="logo">
        </div>
    </div>

    <div ng-if="showCarForm" class="p2">
      <div class="p2-half">
        <h2>Step 1:</h2>
        <h3>Where ya headed?</h3>
        <!-- Start -->
        <br>
        <h4>Origin</h4>
            <input type="text"
              g-places-autocomplete
              options=autocompleteOptions
              ng-model="$parent.origin"
              ng-change="onChange()"/>
        <!-- End -->
        <h4>Destination</h4>
        <input type="text"
              g-places-autocomplete
              options=autocompleteOptions
              ng-model="$parent.destination"
              ng-change="onChange()"/>
      </div>

      <!-- car info -->
      <div class="p2-half">
        <h2>Step 2:</h2>
        <h3>Tell us about your ride.</h3>
        <br>
        <h4>Year</h4>
        <select car-query name="car-years" id="car-years" ng-model="$parent.car.year"></select>
        <br>
        <h4>Make</h4>
        <select car-query name="car-makes" id="car-makes" ng-model="$parent.car.make"></select>
        <br>
        <h4>Model</h4>
        <select car-query name="car-models" id="car-models" ng-model="$parent.car.model"></select>
      </div>
      <button ng-click="submit()" class="btn-next">Next</button>
    </div>

    <!--commuting stuff-->
    <div ng-if="showTransitForm">
      <div>
        <h3>How much do you pay for transit for a return trip each day(in CAD$)?</h3>
        <input type="number" ng-model="$parent.transitCost"/>
      </div>
      <div>
        <h3>Cost of Parking per Day ($)</h3>
        <br><input ng-model="$parent.parkingCost" value="0" type="number"/>
      </div>
      <button ng-click="enterTransitInfo()">Calculate</button>
    </div>

    <div ng-if="showResults && !isLoading">
      <div>It will take you {{duration}}</div>
      <div>It is {{distance}} away.</div>
      <div>Your car does {{mpg}} MPG</div>
      <div>The average gas price in your city of origin {{gasPrice | currency:"¢"}}/L</div>
      <div>Your cost for a return trip per day if you drive is {{dollarsPerReturnTrip | currency:"$"}}</div>
      <div>Your cost for a return trip if you commute is {{transitCost | currency:"$"}}</div>
      <div>{{suggestion}}</div>
    </div>

    <div ng-if="isLoading && !showTransitForm">Loading...</div>

  </body>
</html>
